body {
    background-color: #000;
}

.ebutton-render {
    border-radius: 0;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.5);
    text-align:left;
}
.col-10 .ebutton-render {
    width: 100%;
}